@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Give+You+Glory);

.isi {
  padding: 2rem 1rem;
}

.kue {
  max-height: 200px;
  display: block;
  margin: auto;
  width: 100%;
}

#about {
  background-color: #444c53fa;
  padding: 2rem;
  color: #fff;
}

.logo ul li {
  display: inline-block;
  margin-right: 8px;
}

.logo ul {
  margin-top: 10px;
  float: left;
  width: 100%;
}

.alamat h5 a {
  color: #f30;
  font-size: 26px;
  font-family: "Give You Glory", cursive;
  margin-left: 20px;
  font-weight: 600;
}

.alamat h5 a:hover {
  color: #fff;
}

.alamat p {
  margin-bottom: 35px;
}
